<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net451" />
  <package id="bootstrap" version="3.2.0" targetFramework="net451" />
  <package id="bootstrap-select" version="1.5.4" targetFramework="net451" />
  <package id="elmah" version="1.2.2" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net451" />
  <package id="elmah.sqlservercompact" version="1.2" targetFramework="net451" />
  <package id="jQuery" version="2.1.1" targetFramework="net451" />
  <package id="jQuery.TimeAgo" version="1.1.01" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.13.0" targetFramework="net451" />
  <package id="LazyLoadPlugin" version="1.8.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.0" targetFramework="net451" />
  <package id="Nancy" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Elmah" version="0.1.7" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net451" />
  <package id="Select2.js" version="3.5.1" targetFramework="net451" />
  <package id="SqlServerCompact" version="4.0.8482.1" targetFramework="net451" />
  <package id="SquishIt" version="0.9.5.4" targetFramework="net451" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net451" />
</packages>