<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            @*DO NOT TOUCH! This makes the menu icon show on mobile devices
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
            <a href="http://www.calvaryccm.com"><img src="~/Content/images/ccmLogo.png" alt="Calvary Chapel Melbourne"></a>
        </div>
        <div class="collapse navbar-collapse">

           <!-- Put buttons or any important stuff for cross page use here-->

        </div><!--/.nav-collapse -->
    </div>
</div>