@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/_LayoutPage.cshtml";
}

<h1>404!</h1>
<h2>Hmmm... the page you're looking for can't be found </h2>
<p>Sorry about that - Sometime these things happen.</p>
<h3>So what can you do?</h3>
<ul>
    <li>Make sure you typed the correct URL in the address bar and try again. </li>
    <li>It might be a broken link - You can let us know by heading over to our <a href="http://www.calvaryccm.com/contact-us?mode=ts">contact page</a>&nbsp;and sending us a friendly message. </li>
    <li>We appreciate your prayers!</li>
</ul>