<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="CyclicLog" type="CCM.Volunteer.ApprovalProcess.Automation.CyclicLogTraceListener,CCM.Volunteer.ApprovalProcess.Automation" initializeData="fileSizeThreshold=5000, fileCountThreshold=3, addPidTid=True"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ServerURL" value="my.youserver.com"/>
    <add key="APIGUID" value="00000000-0000-0000-0000-000000000000"/>
    <add key="APIPassword" value="***********"/>
    <add key="RedFlagTemplate" value="0" />
    <add key="RedFlagTemplateNOSOF" value="1"/>
    <add key="ReferenceTemplate" value="2" />
    <add key="ClearingAndFollowUpTemplate" value="3" />
    <add key="ReviewPanelEmailGroups" value="4,5"/>
    <add key="ClearingEmailGroups" value="6"/>
    <add key="defaultFromEmail" value="volunteer@yourserver.com"/>
    <add key="mp_DomainID" value="1" />
    <add key="symmetricKey" value="yourkeygoeshere"/>
  </appSettings>
  <connectionStrings>
    <add name="MinistryPlatform" providerName="System.Data.SqlClient" connectionString="Data Source=yourdb;Initial Catalog=MinistryPlatform;Integrated Security=False;User Id=*******;Password=*******;MultipleActiveResultSets=true;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="volunteer@youserver.com">  
		<!-- you'll need a local mail server (or some kind of mail server)-->
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
